
button.assignsubmission_onlinepoodll_deletesubmissionbutton {
    margin-top: 10px;
    max-width: 180px;
}

.assignsubmission_onlinepoodll_currentsubmission {
    display: grid;
}
.assignsubmission_onlinepoodll_togglecontainer .toggletext {
    padding: 5px;
}
.assignsubmission_onlinepoodll_togglecontainer {
    margin-bottom: 8px;
}